<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Обельченко Иван</title>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
  <div class="content" id="app">
    <h1>Список студентов</h1>
    <h2>Создание динамической страницы при помощи </h2>
    <h2>Форма</h2>
      <form autocomplete="off" id="form">
        <div class="dag">
          <label for="surname">Фамилия</label>

          <input type="text" id="surname" placeholder="Обельченко" v-model="surname">
        
          </div>
        <br>
        <div class="dag">
          <label for="name">Имя</label>
          
          <input type="text" id="name" placeholder="Иван" v-model="name">
        </div>
        <h2>количество знаков:{{countSymbols}}</h2>
        <button v-on:click="addNewNote" v-bind:disabled="isButtonDisabled">
          Добавть
        </button>
      </form>
      <ol v-if="list != 0">
        <li v-for="li in list">{{li}}</li>
      </ol>
      <div v-else class="empty">
        тут ничего!
      </div>
    </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="script.js"></script>
</body>
</html>